.profileContainer{
    display: flex;
    gap: 1rem;
    
}
.profileContainer>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
.profileContainer>img{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
.inputBox>input{
    border: none;
    outline: none;
    font-size: 20px;
    padding-top:10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.imgContainer{
    display: flex;
    gap: 2rem;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(210, 207, 207);
    padding:0 10px;
}
.imgContainer>p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imgContainer>div>img{
    height: 30px;
    width: 30px;
    /* gap: 2rem; */
    margin: 0 5px;
}