.contianer{
    width: 450px;
    margin: auto;
    border: 1px solid rgb(214, 210, 210);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profileContainer{
    display: flex;
    gap: 1rem;
    
}
.profileContainer>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
.profileContainer>img{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
.inputBox>textarea{
    border: none;
    outline: none;
    font-size: 20px;
    padding-top:10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
}
.imgContainer{
    display: flex;
    gap: 2rem;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(210, 207, 207);
    padding:3px 10px;
    justify-content: space-between;
    border-radius: 5px;
    /* border: 1px solid red; */
}
.imgContainer>p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imgContainer>div{
    display : flex;
}

.imgContainer>div>img{
    height: 30px;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;

}

.postButton>button{
    font-size: 15px;
    font-weight: 600;
    background-color: #1A6ED8;
    color: white;
    border: none;
    padding: 9px;
    text-align: center;
    width: 450px;
    margin-top: 15px;
    border-radius: 10px;

}
.postButtonDisabled>button{
    font-size: 15px;
    font-weight: 600;
    background-color: #a0a4a7;
    color: white;
    border: none;
    padding: 9px;
    text-align: center;
    width: 450px;
    margin-top: 15px;
    border-radius: 10px;
}
.postimage{
    right: 530px;
    width: 450px; 
}